#Hmain {
    width: 100%;
    height: 2200px;
    /* border: 1px solid green; */
}
#slider {
    width: 99%;
    height: 350px;
    /* border: 5px solid red; */
    margin-top: 20px;
}

#slider>img {
    width: 100%;
    height: 350px;
}

#deal {
    width: 95%;
    margin: auto;
    height: 50px;
    /* border: 5px solid red; */
}

#deal>h1 {
    font-size: 25px;
    letter-spacing: 5px;
    color: rgb(72, 68, 68);
}

#dealproducts {
    width: 100%;
    height: 250px;
    /* border: 2px solid red; */
    display: flex;
}

#dealproducts>div {
    width: 15%;
    height: 250px;
}

#dealproducts>div:hover {
    cursor: pointer;
}

#dealproducts>div>img {
    width: 100%;
    height: 250px;
}

#deal2 {
    width: 95%;
    margin: auto;
    height: 50px;
    /* border: 2px solid red; */
}

#deal2>h1 {
    font-size: 28px;
    letter-spacing: 2px;
    color: rgb(72, 68, 68);
}

#product2 {
    width: 100%;
    height: 410px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
}

#product2>div {
    width: 11.7%;
    height: 200px;
    margin: 3px;
    /* border: 1px solid black; */
}

#product2>div>img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

#product2>div>img:hover {
    cursor: pointer;
}

#deal3 {
    width: 95%;
    margin: auto;
    height: 50px;
    /* border: 2px solid red; */
}

#deal3>h1 {
    font-size: 28px;
    letter-spacing: 2px;
    color: rgb(72, 68, 68);
}

#product3 {
    width: 100%;
    height: 230px;
    /* border: 2px solid red; */
    display: flex;
    /* flex-wrap: wrap; */
}

#product3>div {
    width: 18%;
    height: 230px;
}

#product3>div>img {
    width: 100%;
    height: 230px;
}

#product3>div>img:hover {
    cursor: pointer;
}

#deal4 {
    width: 95%;
    margin: auto;
    height: 50px;
    /* border: 2px solid red; */
}

#deal4>h1 {
    font-size: 28px;
    letter-spacing: 2px;
    color: rgb(72, 68, 68);
}

#product4 {
    width: 100%;
    height: 620px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
}

#product4>div {
    width: 11.7%;
    height: 200px;
    margin: 3px;
}

#product4>div>img {
    width: 100%;
    height: 200px;
}

#product4>div>img:hover {
    cursor: pointer;
}