*{
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

#Nmain {
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    background-color: white;
    position: sticky;
    top: 0;
}
#navbar {
    width: 100%;
    height: 80px;
    /* border: 2px solid gold; */
    display: flex;
}
#navbar >div:nth-child(1){
    width: 55%;
    height: 90px;
    /* border: 2px solid gold; */
    display: flex;
    justify-content: space-evenly;
}
.navleft >div:nth-child(1) {
    width: 10%;
    height: 80px;
    /* border: 1px solid black; */
    margin: 8px 0px;
}
.navleft >div:nth-child(1) >img {
    width: 90%;
    height: 60px;
    padding: 5px;
}
.navleft >div:nth-child(2) {
    width: 70%;
    height: 80px;
    /* border: 1px solid black; */
    margin: 8px 0px;
    display: flex;
    justify-content: space-around;
}
.navleft >div:nth-child(2) >div >h4 {
    color: rgb(96, 93, 93);
    font-size: 12px;
    margin: 25px 5px;
}
.navleft >div:nth-child(2) >div >h4:hover {
    cursor: pointer;
    color: palevioletred;
    text-decoration: underline;
}
#navbar >div:nth-child(2){
    width: 45%;
    height: 90px;
    /* border: 2px solid gold; */
    display: flex;
}
.navright >div:nth-child(1) {
    width: 60%;
    height: 80px;
    /* border: 1px solid black; */
    margin: 8px 0px;
}
.navright >div:nth-child(1) >input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(198, 190, 190);
    /* padding: 5px; */
    margin: 15px 5px;
}
.navright >div:nth-child(2) {
    width: 40%;
    height: 80px;
    /* border: 1px solid black; */
    margin: 8px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navright >div:nth-child(2) >div {
    width: 20%;
    height: 80px;
    /* border: 1px solid gold; */
}
.navright >div:nth-child(2) >div:hover {
    cursor: pointer;
}
.navright >div:nth-child(2) >div >i {
    margin: 15px 10px 0px 25px ;
}
.navright >div:nth-child(2) >div >h4 {
    margin: 5px 5px 0px 15px ;
    font-size: 12px;
}